<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ELKURL" value="http://av-elk-kibana1.byu.edu:9200/events/_search" />
    <add key="ELKSystemsQueryFileName" value="elkQuery.json" />
    <add key="LogFileName" value="output.log" />
  </appSettings>
</configuration>