<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ELKURL" value="http://av-elk-kibana1.byu.edu:9200/events/_search" />
    <add key="ELKSystemsQueryFileName" value="elkQuery.json" />
    <add key="ELKURL2" value="http://av-elk-kibana1.byu.edu:9200/legacy-av-all-*/_search" />
    <add key="ELKSystemsQueryFileName2" value="elkQuery2.json" />
    <add key="ELKSystemsQueryFileName3" value="elkQuery3.json" />
    <add key="LogFileName" value="output.log" />
    <add key="DMPSDeploymentLocation" value="c:\temp\DMPS\" />
  </appSettings>
</configuration>